# Xcode
*.xcworkspace
xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM

# Swift Package Manager
/.build/
/Packages/
/Package.pins
/Package.resolved

# Misc
.DS_Store

# local scan helpers
_scan.sh
all_swift_on_disk.txt
missing_on_disk.txt
not_in_project.txt
swift_referenced_by_xcode.txt
.DS_Store
**/.DS_Store
